<!DOCTYPE html>
<html>
<head>
	<title>Match3 analyzer</title>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<link rel="stylesheet" href="css/cells.css">

	<style>
		.playfield {
			padding: 1em;
			width: calc(34px * 9);
		}
	</style>
</head>


<body ng-app="Match3" ng-cloak layout='column' ng-controller='PlayfieldController'>

	<div flex='33'></div>

	<div layout='row' flex>
		<div flex='33'></div>

		<div class='playfield'>
			<div class='cell cell-type--{{ cell.content.type }} cell-color--{{ cell.content.color }}' ng-repeat='cell in cells'
				ng-style='{ "background-color": cell.content.color }'
				ng-click='cell.content.onClicked(cell)'
				ng-class='{"cell--picked" : cell.isFadingOut, "cell--empty": !cell.content}'>
				{{ cell.content.character }}
			</div>
		</div>

		<div layout='column' >
			<h2>Collected</h2>
			<div ng-repeat='(color, count) in cellsCollectedByColor'><b>{{:: color}}</b>: {{ count }}</div>
		</div>
	</div>
</body>


	<!-- Angular Material requires Angular.js Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

	<script type="text/javascript">
		const PLAYFIELD_SIZE_CELLS = 9;

		/**
		 * You must include the dependency on 'ngMaterial'
		 */
		window.ngApp = angular.module('Match3', ['ngMaterial']);


		const ALL_POSSIBLE_COLORS = [ 'purple', 'red', 'blue', 'green', 'orange' ];
		const INVALID_COLOR = 'white';

		const MIN_CELLS_TO_WIPE = 2;



		const cellOfFieldAt = (field, col, row) => {
			if (col >= PLAYFIELD_SIZE_CELLS || col < 0) {
				return null;
			}

			return field[row * PLAYFIELD_SIZE_CELLS + col];
		};



		/*

			levelDescriptor is expected to be like {
				cells: [{
					col: 0,
					row: 1,
					content: {
						type: 'blocker',
						arguments: [ 'red' ]
					}
				}]
			}
		*/
		const createCellsFromPredefinedLevel = (CellsFactory, levelDescriptor) => {
			const cells = [...new Array(PLAYFIELD_SIZE_CELLS * PLAYFIELD_SIZE_CELLS)].map((x, index) => ({
				content: null,
				col: index % PLAYFIELD_SIZE_CELLS,
				row: Math.floor(index / PLAYFIELD_SIZE_CELLS)
			}));

			levelDescriptor.cells.forEach(cellRecord => {
				cells[cellRecord.row * PLAYFIELD_SIZE_CELLS + cellRecord.col].content = CellsFactory.deserializeCell(cellRecord.content);
			});

			//	BEWARE: this randomization is probably going to be reworked
			cells.forEach(cell => {
				if (cell.content) {
					return;
				}

				if (Math.random() > 0.8) {
					cell.content = CellsFactory.createBlockerCell();
				}
				else if (Math.random() > 0.98) {
					cell.content = CellsFactory.createUnremovableBlockerCell();
				}
				else {
					cell.content = CellsFactory.createGenericCell();
				}
			});

			return cells;
		};



		window.ngApp.controller('PlayfieldController', ['$scope', function($scope) {
			const cellsMatch = (cellA, cellB) => cellA.content.color == cellB.content.color
				&& cellA.content.type == 'generic'
				&& cellB.content.type == 'generic';

			$scope.cellsCollectedByColor = {};


			const slideColDown = colIndex => {
				let anythingMoved = false;

				for (let rowIndex = PLAYFIELD_SIZE_CELLS - 1; rowIndex >= 0; --rowIndex) {
					const cell = cellAt(colIndex, rowIndex);
					const cellAbove = cellAt(colIndex, rowIndex - 1);

					if (!cellAbove) {
						if (!cell.content) {
							cell.content = CellsFactory.createGenericCell();
							anythingMoved = true;
						}
					}
					else if (!cell.content && cellAbove.content && cellAbove.content.canFallDown) {
						cell.content = cellAbove.content;
						cellAbove.content = null;
						anythingMoved = true;
					}
				}

				return anythingMoved;
			};


			const slideFieldDown = () => {
				for (let colIndex = 0; colIndex < PLAYFIELD_SIZE_CELLS; ++colIndex) {
					while (slideColDown(colIndex)) {
						;	//	yea, do nothing
					}
				}
			};


			const collectCells = cellsToBeCollected => {
				cellsToBeCollected.forEach(cell => {
					cell.isFadingOut = true;
					cell.content && cell.content.onCollected(cell);
				});

				$scope.clicksBlocked = true;

				return new Promise(resolve => setTimeout(() => {
					cellsToBeCollected.forEach(cell => {
						cell.isFadingOut = false;

						if (cell.content) {
							if (!$scope.cellsCollectedByColor[cell.content.color]) {
								$scope.cellsCollectedByColor[cell.content.color] = 0;
							}

							$scope.cellsCollectedByColor[cell.content.color] += 1;
						}
						cell.content = null;
					});

					resolve({
						cellsWiped: cellsToBeCollected.length,
						onPreparationsFinished: () => {
							slideFieldDown();
							$scope.clicksBlocked = false;
							$scope.$digest();
						}
					});

				}, 400));
			};



			const CellsFactory = (function() {

				const BONUSES_FOR_CELLS_DESTROYED = [{
					priority: 0,
					canGetThisBonusForAchievement: cellsDestroyed => cellsDestroyed >= 6,
					create: (cellContent) => Math.random() > .5
						? api.createRowArrowBombCell()
						: api.createColArrowBombCell()
				}, {
					priority: 1,
					canGetThisBonusForAchievement: cellsDestroyed => cellsDestroyed >= 7,
					create: (cellContent) => api.createRoundBombCell()
				}, {
					priority: 2,
					canGetThisBonusForAchievement: cellsDestroyed => cellsDestroyed >= 9,
					create: (cellContent) => api.createColorLightningCell(cellContent)
				}];


				const collectAllAdjacentCells = initialCell => $scope.cells.filter(cell => Math.abs(cell.row - initialCell.row) + Math.abs(cell.col - initialCell.col) <= 2);

				const collectTheWholeRowOfACell = initialCell => $scope.cells.filter(cell => cell.row == initialCell.row);

				const collectTheWholeColOfACell = initialCell => $scope.cells.filter(cell => cell.col == initialCell.col);

				const collectAllCellsWithSameColor = initialCell => $scope.cells.filter(cell => cell.content && cell.content.color == initialCell.content.color)


				const collectAdjacentCellsOfSameColor = (initialCell, cellsCollected) => {
					cellsCollected = cellsCollected || [initialCell];

					const neighbors = [
						cellAt(initialCell.col - 1, initialCell.row),
						cellAt(initialCell.col + 1, initialCell.row),
						cellAt(initialCell.col, initialCell.row + 1),
						cellAt(initialCell.col, initialCell.row - 1)
					];

					neighbors.forEach(neighborCell => {
						if (neighborCell && neighborCell.content && cellsMatch(initialCell, neighborCell) && cellsCollected.indexOf(neighborCell) < 0) {
							cellsCollected.push(neighborCell);
							collectAdjacentCellsOfSameColor(neighborCell, cellsCollected);
						}
					});

					return cellsCollected;
				};


				const collectBlockersAdjacentToAnyOfCells = (cellsCollected) => {
					const color = cellsCollected.length > 0
						? cellsCollected[0].content.color
						: null;

					return $scope.cells.filter(x => x && x.content
						&& x.content.type == 'blocker'
						&& x.content.color == color
						&& cellsCollected.some(collectedCell => cellsAreAdjacent(x, collectedCell)))
				};

				const cellsAreAdjacent = (cellA, cellB) => (Math.abs(cellA.row - cellB.row) <= 1 && cellA.col == cellB.col)
					|| (Math.abs(cellA.col - cellB.col) <= 1 && cellA.row == cellB.row);


				const api = {
					createGenericCell() {
						return {
							color: ALL_POSSIBLE_COLORS[Math.floor(Math.random() * ALL_POSSIBLE_COLORS.length)],
							type: 'generic',
							canFallDown: true,

							onClicked(self) {
								if ($scope.clicksBlocked) {
									return;
								}

								let cellsToBeCollected = collectAdjacentCellsOfSameColor(self);

								const blockersToBeCollected = collectBlockersAdjacentToAnyOfCells(cellsToBeCollected);
								cellsToBeCollected = cellsToBeCollected.concat(blockersToBeCollected);


								const initialCellContent = self.content;

								if (cellsToBeCollected.filter(x => x.content.type == 'generic').length >= MIN_CELLS_TO_WIPE) {
									collectCells(cellsToBeCollected).then(neighborsWipeResult => {
										const bonusesMightBeCreated = BONUSES_FOR_CELLS_DESTROYED.filter(bonuse => bonuse.canGetThisBonusForAchievement(neighborsWipeResult.cellsWiped));
										bonusesMightBeCreated.sort((a, b) => a.priority - b.priority);

										const bonusToCreate = bonusesMightBeCreated.pop();

										if (bonusToCreate) {
											self.content = bonusToCreate.create(initialCellContent);
										}

										neighborsWipeResult.onPreparationsFinished();
									});
								}
							},

							onCollected(self) {
								//nothing
							}
						};
					},

					createBlockerCell(color) {
						return {
							color: color || ALL_POSSIBLE_COLORS[Math.floor(Math.random() * ALL_POSSIBLE_COLORS.length)],
							type: 'blocker',
							canFallDown: false,

							onClicked(self) {
								;	//	yea, do nothing
							},

							onCollected(self) {
								//nothing
							}
						};
					},


					createUnremovableBlockerCell() {
						return {
							color: INVALID_COLOR,
							type: 'unremovable-blocker',
							canFallDown: false,

							onClicked(self) {
								;	//	yea, do nothing
							},

							onCollected(self) {
								//nothing
							}
						};
					},


					createRowArrowBombCell() {
						return {
							color: INVALID_COLOR,
							type: 'bonus-horz-arrow',
							character: '⇿',
							canFallDown: true,
							collected: false,

							onClicked(self) {
								self.content.collected = true;
								const cellsToBeCollected = collectTheWholeRowOfACell(self);
								collectCells(cellsToBeCollected).then(neighborsWipeResult => {
									neighborsWipeResult.onPreparationsFinished();
								});
							},

							onCollected(self) {
								if (!self.content.collected) {
									self.content.onClicked(self);
								}
							}
						};
					},


					createColArrowBombCell() {
						return {
							color: INVALID_COLOR,
							type: 'bonus-vert-arrow',
							character: '↕',
							canFallDown: true,
							collected: false,

							onClicked(self) {
								self.content.collected = true;
								const cellsToBeCollected = collectTheWholeColOfACell(self);
								collectCells(cellsToBeCollected).then(neighborsWipeResult => {
									neighborsWipeResult.onPreparationsFinished();
								});
							},

							onCollected(self) {
								if (!self.content.collected) {
									self.content.onClicked(self);
								}
							}
						};
					},


					createRoundBombCell() {
						return {
							color: INVALID_COLOR,
							type: 'bonus-bomb',
							character: '☠',
							canFallDown: true,
							collected: false,

							onClicked(self) {
								self.content.collected = true;
								const cellsToBeCollected = collectAllAdjacentCells(self);
								collectCells(cellsToBeCollected).then(neighborsWipeResult => {
									neighborsWipeResult.onPreparationsFinished();
								});
							},

							onCollected(self) {
								if (!self.content.collected) {
									self.content.onClicked(self);
								}
							}
						};
					},


					createColorLightningCell(cellContent) {
						return {
							color: cellContent ?
								cellContent.color
								: ALL_POSSIBLE_COLORS[Math.floor(Math.random() * ALL_POSSIBLE_COLORS.length)],
							type: 'bonus-color-lightning',
							character: '⚡',
							canFallDown: true,
							collected: false,

							onClicked(self) {
								self.content.collected = true;
								const cellsToBeCollected = collectAllCellsWithSameColor(self);
								collectCells(cellsToBeCollected).then(neighborsWipeResult => {
									neighborsWipeResult.onPreparationsFinished();
								});
							},

							onCollected(self) {
								if (!self.content.collected) {
									self.content.onClicked(self);
								}
							}
						}
					}
				};


				api.deserializeCell = serializedCell => {
					const constructorsByTypeName = {
						'generic': api.createGenericCell,
						'blocker': api.createBlockerCell,
						'unremovable-blocker': api.createUnremovableBlockerCell,
						'bonus-horz-arrow': api.createRowArrowBombCell,
						'bonus-vert-arrow': api.createColArrowBombCell,
						'bonus-bomb': api.createRoundBombCell,
						'bonus-color-lightning': api.createColorLightningCell
					};

					if (!constructorsByTypeName[serializedCell.type]) {
						throw new Error(`Unknown cell type: ${serializedCell.type}`);
					}

					return constructorsByTypeName[serializedCell.type].apply(null, serializedCell.arguments);
				};


				return api;
			})();


			const HARDCODED_LEVEL_SAMPLE = {
				cells: [{
					row: 3,
					col: 0,
					content: { type: 'bonus-vert-arrow' }
				}, {
					row: 3,
					col: 3,
					content: { type: 'unremovable-blocker' }
				}, {
					row: 3,
					col: 4,
					content: { type: 'unremovable-blocker' }
				}, {
					row: 3,
					col: 8,
					content: { type: 'bonus-horz-arrow' }
				}, {
					row: 8,
					col: 0,
					content: { type: 'bonus-bomb' }
				}, {
					row: 8,
					col: 2,
					content: { type: 'bonus-color-lightning' }
				}, {
					row: 4,
					col: 4,
					content: { type: 'blocker', arguments: ['red'] }
				}, {
					row: 4,
					col: 5,
					content: { type: 'blocker', arguments: ['red'] }
				}, {
					row: 4,
					col: 6,
					content: { type: 'blocker', arguments: ['red'] }
				}]
			};

			$scope.cells = createCellsFromPredefinedLevel(CellsFactory, HARDCODED_LEVEL_SAMPLE);

			const cellAt = cellOfFieldAt.bind(null, $scope.cells);


			slideFieldDown();
		}]);
	</script>


</html>
